<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Is it New Years day?</title>
</head>
<body>
    {% if New_year %} <!--This is how to include logic in HTML from Django apps-->
        <h1>YES</h1>
    {% else %}
        <h1>NO</h1>
    {% endif %} <!--This is how to end logic statements in HTML from Django apps-->
</body>
</html>