
div{
    padding: 2px;
}

#searchbar{
    position: relative;
    left: 38px;
}

#imgsearchbar{
    position: relative;
    right: 12px;
}

#advsearchbutton{
    position: relative;
    left: 70px;
}

.side-links{
    position:absolute;
    right:0;
    top:0;
    margin: 15px;
}

.square-box{
    max-width: 600px;
    min-height: 800px;
}