{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h2> Item: {{ listing.title }} </h2>
        </div>
        <div class="col-2">
            {% if is_seller == False %}
            <a href="{% url 'addtowatchlist' listing.id %}" class="btn btn-primary">Add/remove from watchlist</a>
            <div class="alert alert-light" role="alert">
                {% if on_watchlist %}
                Item on watchlist.
                {% else %}
                Item not on watchlist.
                {% endif%}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="mx-auto" style="width: 900px;">
        <div>
            <strong>
                Seller:
            </strong>
            <a href="{% url 'userinfo' listing.seller.id %}">{{ listing.seller.username }}</a>
        </div>
        
        <div>
            <strong>
                Description: 
            </strong>
            {{ listing.description }}
        </div>
        
        <div>
            {% if listing.image %}
            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-thumbnail" width="500", height="500">
        
            {% else %}
            {% load static %} <img src="{% static 'auctions/media/no_image.png' %}" alt="No_image" />
            {% endif %}
        </div>
        
        <div>
            {% if listing.current_price %}
            <strong>
                Current Price: 
            </strong>
            ${{ listing.current_price }}
            {% else %}
            <strong>
                Starting Price: 
            </strong>
            ${{ listing.listing_start_price }}
            {% endif %}
        </div>
    
        <div>
            <strong>
                Current number of bids: 
            </strong>
            {{ number_of_bids }}.
            {% if is_winning %}
            Congrats, you are currently the highest bidder!
            {% elif is_seller %}
            You are the seller.
            <a href="{% url 'editlisting' listing.id %}" class="btn btn-primary">Close/Edit your listing</a>
            {% elif listing.active == False %}
            The bidding has ended. The winner is <a href="{% url 'userinfo' listing.current_bidder.id %}">{{ listing.current_bidder }}</a>
            {% else %}
            <form action="{% url 'bidstatus' listing.id %}" method="post">
                {% csrf_token %}
                {{ bidding }}
                <input type="submit" class="btn btn-success">
            </form>
            {% endif %}
    
            {% if message %}
                {{ message }}
            {% endif %}
        </div>
    </div>

    <div>
        <div class="mx-auto" style="width: 300px;">
            <h2>Comment Section</h2>
        </div>
            <a href="{% url 'addcomment' listing.id %}" class="btn btn-primary">Add a comment</a>

        <div class="d-grid gap-3">
            {% for comment in comments %}
            <div class="p-2 bg-light border">
                <a href="{% url 'userinfo' comment.commenter.id %}">{{ comment.commenter.username }}:</a>
                {{ comment.comment }}
            </div>
        {% empty %}
        </div>

        <h3>No comments yet.</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}